.plot {
  background: transparent;
  /* border: 2px dashed #ccc; */
  height: calc(35% - 1rem);
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plot-img {
  height: 100%;
  aspect-ratio: 1/1;
}
